/EditarProducto/nbproject/private/
/EditarProducto/build/
/EditarUsuario/nbproject/private/
/EditarUsuario/build/
/SenaAdsi/nbproject/private/
/editarProducto2/nbproject/private/
/EditarProductos/nbproject/private/
/EditarProductos/build/